@import "properties.scss";
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background-image: linear-gradient(to bottom right, $blue, $green, $gold, $red);
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Play", sans-serif;
  text-align: center;
  min-width: fit-content;
}

#main_title{
  font-size: 75px;
}